$m-color: #4e458f;
$m-color-light: #afb7e3;
$sand-color: #f5cbb3;
$sand-color-light: #f5e2d7;
$green-color: #5fd4c6;
$green-color-light: #abede5;

$desktop-small: 1439px;
$mobile: 767px;
$b-font: "Montserrat", "Arial", sans-serif;

$transition-time: 0.3s;
$transition-type: ease-in-out;
$transition: $transition-time $transition-type;
