<section class="history">
  <div class="history__wrapper">
    <h2 class="history__title">3D-МОДЕЛИРОВАНИЕ</h2>

    <div class="history__row">
      <div class="history__col">
        <div class="history__iframe">
          <div class="sketchfab-embed-wrapper"> <iframe loading="lazy" title="Женщины" frameborder="0" allowfullscreen
              mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr"
              xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
              src="https://sketchfab.com/models/9f7d22684a764fcca82d6dfcfac95d9c/embed"> </iframe>
            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a
                href="https://sketchfab.com/3d-models/9f7d22684a764fcca82d6dfcfac95d9c?utm_medium=embed&utm_campaign=share-popup&utm_content=9f7d22684a764fcca82d6dfcfac95d9c"
                target="_blank" style="font-weight: bold; color: #1CAAD9;"> Женщины </a> by <a
                href="https://sketchfab.com/vr-tavrida?utm_medium=embed&utm_campaign=share-popup&utm_content=9f7d22684a764fcca82d6dfcfac95d9c"
                target="_blank" style="font-weight: bold; color: #1CAAD9;"> vr-tavrida </a> on <a
                href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=9f7d22684a764fcca82d6dfcfac95d9c"
                target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>
          </div>
        </div>
      </div>
      <div class="history__col">
        <div class="history__iframe">
          <div class="sketchfab-embed-wrapper"> <iframe loading="lazy" title="Бегущая по волнам" frameborder="0"
              allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr"
              xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
              src="https://sketchfab.com/models/d20bdb58b35044cdb39e797741bf21a5/embed"> </iframe>
            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a
                href="https://sketchfab.com/3d-models/d20bdb58b35044cdb39e797741bf21a5?utm_medium=embed&utm_campaign=share-popup&utm_content=d20bdb58b35044cdb39e797741bf21a5"
                target="_blank" style="font-weight: bold; color: #1CAAD9;"> Бегущая по волнам </a> by <a
                href="https://sketchfab.com/vr-tavrida?utm_medium=embed&utm_campaign=share-popup&utm_content=d20bdb58b35044cdb39e797741bf21a5"
                target="_blank" style="font-weight: bold; color: #1CAAD9;"> vr-tavrida </a> on <a
                href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=d20bdb58b35044cdb39e797741bf21a5"
                target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>
          </div>
        </div>
      </div>
      <div class="history__col">
        <div class="history__iframe">
          <div class="sketchfab-embed-wrapper"> <iframe loading="lazy" title="Мать земли" frameborder="0"
              allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr"
              xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
              src="https://sketchfab.com/models/c237668281784bbb91fa8b9bc151736c/embed"> </iframe>
            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a
                href="https://sketchfab.com/3d-models/c237668281784bbb91fa8b9bc151736c?utm_medium=embed&utm_campaign=share-popup&utm_content=c237668281784bbb91fa8b9bc151736c"
                target="_blank" style="font-weight: bold; color: #1CAAD9;"> Мать земли </a> by <a
                href="https://sketchfab.com/vr-tavrida?utm_medium=embed&utm_campaign=share-popup&utm_content=c237668281784bbb91fa8b9bc151736c"
                target="_blank" style="font-weight: bold; color: #1CAAD9;"> vr-tavrida </a> on <a
                href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=c237668281784bbb91fa8b9bc151736c"
                target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>
          </div>
        </div>
      </div>
      <div class="history__col">
        <div class="history__iframe">
          <div class="sketchfab-embed-wrapper"> <iframe loading="lazy" title="Танец Силы" frameborder="0"
              allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr"
              xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share
              src="https://sketchfab.com/models/fe958667edf54fca95ea47438d4fe02e/embed"> </iframe>
            <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a
                href="https://sketchfab.com/3d-models/fe958667edf54fca95ea47438d4fe02e?utm_medium=embed&utm_campaign=share-popup&utm_content=fe958667edf54fca95ea47438d4fe02e"
                target="_blank" style="font-weight: bold; color: #1CAAD9;"> Танец Силы </a> by <a
                href="https://sketchfab.com/vr-tavrida?utm_medium=embed&utm_campaign=share-popup&utm_content=fe958667edf54fca95ea47438d4fe02e"
                target="_blank" style="font-weight: bold; color: #1CAAD9;"> vr-tavrida </a> on <a
                href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=fe958667edf54fca95ea47438d4fe02e"
                target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="history__link">Посмотреть еще</a>
  </div>
</section>
