<section class="accordion">
  <h2>Пример аккордиона</h2>
  <div class="accordion__wrapper">
    <ul class="accordion__list">
      <li class="accordion__item">
        <button type="button" class="accordion__title js-title">Таб 1</button>
        <div class="accordion__content">The typical accordion we see today uses piano-style keys
          played by the right hand. The left hand has access to a set of buttons that play bass notes and preset chords.
          This is the style of accordion that became popularized on the Lawrence Welk show and is used in many European
          music traditions. </div>
      </li>
      <li class="accordion__item">
        <button type="button" class="accordion__title js-title">Таб 2</button>
        <div class="accordion__content">Older types of accordions used small buttons to play
          pitches with the right hand. Some of these instruments were diatonic rather than chromatic. Some used a
          bisonic
          system that played a different note depending on the direction of the bellows. There is an endless variety of
          these "squeezebox"-type instruments in many traditions world-wide.</div>
      </li>
      <li class="accordion__item">
        <button type="button" class="accordion__title js-title">Таб 3</button>
        <div class="accordion__content">Accordions produce sound using air. The player compresses and expands the
          bellows
          to
          force air through pallets that cause little reeds to vibrate. The player presses a button or key to determine
          which pitch will sound. This is the same sound production method commonly used in the old reed organs popular
          in
          churches in the old west.</div>
      </li>
      <li class="accordion__item">
        <button type="button" class="accordion__title js-title">Таб 4</button>
        <div class="accordion__content">It is likely that the accordion was invented in Berlin, Germany in 1822 by
          Christian
          Friedrich Ludwig Buschmann. But there are also accordions from this time invented in Russia and other
          locations.
          The first patent for an instrument named “Accordion” was in 1829 by Cyrill Demian in Vienna, Austria. The
          first
          accordions to use piano keys rather than buttons appeared in Paris and Munich in the 1850s. </div>
      </li>

      <li class="accordion__item">
        <button type="button" class="accordion__title js-title">Таб 5</button>
        <div class="accordion__content">The accordion, both button and piano styles, spread throughout Europe in the
          19th
          century. Piano accordions became popular most quickly because many people already had skills on piano and
          organ
          instruments. Accordions are featured prominently in the folk music of Italy as well as in Germanic and Slavic
          countries. Varieties of the accordion were created in South America where it is featured prominently in the
          music of Brazil and Argentina. The first half of the 20th century saw the accordion become a staple of
          Vaudeville music performances. In the 1950s through the 1980s, of course, we heard lots of accordion
          performances from Myron Floren of the Lawrence Welk show. Wonderful, wonderful.</div>
      </li>
    </ul>
  </div>
</section>
