<!-- Секция бэестейдж -->
<section class="backstage" id="backstage">
  <div class="backstage__wrapper">
    <h2 class="backstage__title">Backstage</h2>
  </div>
  <div class="backstage__slider">
    <!-- Slider main container -->
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="backstage__grid">
            <div class="backstage__grid-item"><a class="image-popup-vertical-fit"
                href="/images/backstage/backstage-1.jpg"><img src="/images/backstage/backstage-1.jpg" alt=""></a>
            </div>
            <div class="backstage__grid-item  backstage__grid-item--vertical-full"><a class="popup-youtube"
                href="https://www.youtube.com/watch?v=JKMcvwsO15Q"><img src="/images/backstage/backstage-2.jpg"
                  alt=""></a>
            </div>
            <div class="backstage__grid-item  backstage__grid-item--horisontal-full"><a class="popup-youtube"
                href="https://www.youtube.com/watch?v=JKMcvwsO15Q"><img src="/images/backstage/backstage-3.jpg"
                  alt=""></a>
            </div>
            <div class="backstage__grid-item"><a class="popup-youtube"
                href="https://www.youtube.com/watch?v=JKMcvwsO15Q"><img src="/images/backstage/backstage-4.jpg"
                  alt=""></a>
            </div>
            <div class="backstage__grid-item"><a class="image-popup-vertical-fit"
                href="/images/backstage/backstage-1.jpg"><img src="/images/backstage/backstage-5.jpg" alt=""></a>
            </div>
            <div class="backstage__grid-item"><a class="image-popup-vertical-fit"
                href="/images/backstage/backstage-1.jpg"><img src="/images/backstage/backstage-6.jpg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="backstage__grid">
            <div class="backstage__grid-item"><a class="image-popup-vertical-fit"
                href="/images/backstage/backstage-1.jpg"><img src="/images/backstage/backstage-1.jpg" alt=""></a>
            </div>
            <div class="backstage__grid-item  backstage__grid-item--vertical-full"><a class="popup-youtube"
                href="https://www.youtube.com/watch?v=JKMcvwsO15Q"><img src="/images/backstage/backstage-2.jpg"
                  alt=""></a>
            </div>
            <div class="backstage__grid-item  backstage__grid-item--horisontal-full"><a class="popup-youtube"
                href="https://www.youtube.com/watch?v=JKMcvwsO15Q"><img src="/images/backstage/backstage-3.jpg"
                  alt=""></a>
            </div>
            <div class="backstage__grid-item"><a class="popup-youtube"
                href="https://www.youtube.com/watch?v=JKMcvwsO15Q"><img src="/images/backstage/backstage-4.jpg"
                  alt=""></a>
            </div>
            <div class="backstage__grid-item"><a class="image-popup-vertical-fit"
                href="/images/backstage/backstage-1.jpg"><img src="/images/backstage/backstage-5.jpg" alt=""></a>
            </div>
            <div class="backstage__grid-item"><a class="image-popup-vertical-fit"
                href="/images/backstage/backstage-1.jpg"><img src="/images/backstage/backstage-6.jpg" alt=""></a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="backstage__grid">
            <div class="backstage__grid-item"><a class="image-popup-vertical-fit"
                href="/images/backstage/backstage-1.jpg"><img src="/images/backstage/backstage-1.jpg" alt=""></a>
            </div>
            <div class="backstage__grid-item  backstage__grid-item--vertical-full"><a class="popup-youtube"
                href="https://www.youtube.com/watch?v=JKMcvwsO15Q"><img src="/images/backstage/backstage-2.jpg"
                  alt=""></a>
            </div>
            <div class="backstage__grid-item  backstage__grid-item--horisontal-full"><a class="popup-youtube"
                href="https://www.youtube.com/watch?v=JKMcvwsO15Q"><img src="/images/backstage/backstage-3.jpg"
                  alt=""></a>
            </div>
            <div class="backstage__grid-item"><a class="popup-youtube"
                href="https://www.youtube.com/watch?v=JKMcvwsO15Q"><img src="/images/backstage/backstage-4.jpg"
                  alt=""></a>
            </div>
            <div class="backstage__grid-item"><a class="image-popup-vertical-fit"
                href="/images/backstage/backstage-1.jpg"><img src="/images/backstage/backstage-5.jpg" alt=""></a>
            </div>
            <div class="backstage__grid-item"><a class="image-popup-vertical-fit"
                href="/images/backstage/backstage-1.jpg"><img src="/images/backstage/backstage-6.jpg" alt=""></a>
            </div>
          </div>
        </div>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
<!-- Секция бэестейдж -->
