<!-- Секция цитата -->
<section class="cite" id="mission">
  <div class="cite__wrapper">
    <h1 class="cite__main-title">Проект команды Школы цифровизации искусства третьего заезда «Тавриды» 2021 года</h1>
    <h2 class="cite__title">Наша миссия</h2>
    <div class="cite__text">
      <p>Мы верим <br>
        что секрет созидательного развития <br>
        цивилизации именно в синтезе науки,<br>
        технологий и искусства. Вдохновившись<br>
        арт-кластером “Таврида”, мы сделали его<br>
        доступным для всех.</p>
    </div>
    <div class="cite__buttons  fixed-buttons">
      <a class="cite__button" id="play" href="#"><img src="/images/icon-q.svg" alt="Иконка аудио-"></a>
      <a class="cite__button  cite__button-with-bg  cite__button-with-bg--animated" href="#"><img
          src="/images/icon-vr-white.svg" alt="Иконка посмотреть в VR"></a>
      <audio id="song" src="https://vr-tavrida.art/data/vtours/tavrida/audio/276_sound_ru.mp3"></audio>
    </div>
  </div>
</section>
<!-- Секция цитата -->
