<section class="history">
  <div class="history__wrapper">
    <h2 class="history__title">История места</h2>

    <div class="history__row">
      <div class="history__col">
        <button class="popup-trigger" data-popup-trigger="place-history" type="button">
          <span class="visually-hidden">Узнать больше</span>
          <img src="/images/team-thumb.jpg" alt="Alt Text!">
        </button>
        <section data-popup-modal="place-history" class="popup-modal ">
          <article class="popup__article">
            <button class=" popup-modal__close" type="button">
              <svg class="main-nav__icon" aria-hidden="true" width="42" height="36">
                <use class="main-nav__icon-cross" href="/images/sprite_auto.svg#cross"></use>
              </svg>
              <span class="visually-hidden">Закрыть</span>
            </button>

            <div class="popup__content">
              <h2>О проекте</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil expedita minima illo doloremque. Minus
                est,
                quasi hic dolorem ad perspiciatis nihil veniam temporibus odit consectetur et. Reiciendis id quas ex.
              </p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil expedita minima illo doloremque. Minus
                est,
                quasi hic dolorem ad perspiciatis nihil veniam temporibus odit consectetur et. Reiciendis id quas ex.
              </p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil expedita minima illo doloremque. Minus
                est,
                quasi hic dolorem ad perspiciatis nihil veniam temporibus odit consectetur et. Reiciendis id quas ex.
              </p>
            </div>
          </article>
        </section>
      </div>
      <div class="history__col">
        <div class="history__text">
          <p>Тут возможно какой-то текст. Слева фотография. Или вместо этого текста можно поставить фотографию.</p>
        </div>
      </div>
    </div>
  </div>
</section>
