<section class="intro  intro--fixed" id="intro">
  <div class="intro__wrapper">
    <img class="intro__logo" src="images/logo-white.svg" width="50" height="50" alt="Логотип Тавриды">
    <h1 class="intro__title">
      Виртуальные прогулки <br>
      <span class="intro__title-color-text">
        по тавриде
      </span>
    </h1>

    <div class="intro__text">
      <p>
        Арт-кластер «Таврида» – пространство, которое оберегают мир, любовь и искусство. Это «место
        силы», вдохновляющее молодых творцов на самые смелые идеи. Один из таких проектов – этот сайт.
        Исследуй территорию резиденции виртуально, узнавай о её легендах и рассматривай 3D-модели
        арт-объектов. Море эмоций и творчества ждут тебя!
      </p>
    </div>

    <a href="#map" class="intro__button link js-scroll">Доступен с 29 июня</a>

    <div class="intro__bottom">
      <p class="intro__copy">Школа цифровизации искусства</p>

      <a href="#" class="intro-blind-version  blind-version-btn">Версия для слабовидящих</a>
    </div>

  </div>
</section>
