<section class="map">
  <div id="map">

  </div>
  <div class="map__wrapper">
    <div class="leaflet-control map__controls map__controls--top-right">
      <p class="map__control-text">Аудиогиды</p>
      <ul class="map__controls-list">
        <li class="map__controls-item">
          <a class="map__controls-btn  map__controls-btn--audio" href="#">Название аудиогида</a>
        </li>
        <li class="map__controls-item">
          <a class="map__controls-btn  map__controls-btn--audio" href="#">Название аудиогида</a>
        </li>
      </ul>
    </div>

    <div class="map__mobile-vr"><a class="btn" href="https://vr-tavrida.art/data/vtours/tavrida/?lp=9a&amp;lang=ru"
        target="_blank">Прогуляться в VR</a></div>

    <div class="map__objects">
      <h2>ВИРТУАЛЬНЫЕ ОБЪЕКТЫ</h2>
      <ul>
        <li>Юла</li>
        <li>Ассоль</li>
        <li>Ракушка</li>
        <li>Маяк</li>
        <li>Маски</li>
        <li>Киты</li>
        <li>Там-Там</li>
        <li>Стоунхендж</li>
        <li>Феникс</li>
        <li>Таврический поток</li>
        <li>Барабан</li>
        <li>Светофор</li>
        <li>Мир. Любовь. Искусство</li>
        <li>Культурные слои</li>
        <li>Парус</li>
        <li>Ласточкино гнездо</li>
        <li>Башня</li>
        <li>Бумбокс</li>
        <li>Невидимая рука</li>
        <li>Арт</li>
        <li>Многогорка 2.0</li>
        <li>Друза</li>
        <li>Город возможностей</li>
        <li>Древо</li>
        <li>Глаза</li>
        <li>Кариатиды русского авангарда</li>
      </ul>
    </div>
  </div>
</section>
