<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title }}">
<meta property="og:description" content="{{ og_description }}">
{# OG images must be at least 1200:630px (aspect ratio of 1.91:1) #}
<meta property="og:image" content="{{ og_image }}">

<!-- Twitter -->
<meta property="twitter:card" content="{{ twitter_summary }}">
<meta property="twitter:url" content="{{ twitter_url }}">
<meta property="twitter:title" content="{{ twitter_title }}">
<meta property="twitter:description" content="{{ twitter_description }}">
{# Twitter Summary card images must be at least 120x120px #}
<meta property="twitter:image" content="{{ twitter_image }}">
