<section class="project" id="project">
  <div class="project__wrapper">
    <h2 class="project__title">Проект в цифрах</h2>
    <p class="project__subtitle">В рамках заезда «Новые русские сезоны» командой Школы цифровизации искусства была
      оцифрована территория «Тавриды»: созданы 16 высокоточных 3D-моделей арт-объектов, выполненных методом
      фотограмметрии, панорамные снимки высокого качества и медиагиды. В итоге был разработан этот сайт, благодаря
      которому каждый может виртуально посетить территорию «Тавриды».</p>

    <ul class="project__list">
      <li class="project__item">
        <a href="#">
          <article class="project__article">
            <p class="project__number">8 <span>ТБ</span></p>
            <p class="project__item-text">фото-, видео-
              и аэросъемки</p>
          </article>
        </a>
      </li>
      <li class="project__item">
        <a href="#">
          <article class="project__article">
            <p class="project__number">60 000+</p>
            <p class="project__item-text">символов текста написано копирайтерами</p>
          </article>
        </a>
      </li>
      <li class="project__item">
        <a href="#">
          <article class="project__article">
            <p class="project__number">52</p>
            <p class="project__item-text">истории в двух<br>
              аудио- и медиагидах</p>
          </article>
        </a>
      </li>
      <li class="project__item">
        <a href="#">
          <article class="project__article">
            <p class="project__number">30</p>
            <p class="project__item-text">виртуальных панорам</p>
          </article>
        </a>
      </li>
      <li class="project__item">
        <a href="#">
          <article class="project__article">
            <p class="project__number">16</p>
            <p class="project__item-text">3D-моделей арт-объектов<br>
              из 9697 кадров и 1,2 млрд полигонов</p>
          </article>
        </a>
      </li>
      <li class="project__item">
        <a href="#">
          <article class="project__article">
            <p class="project__number">7 <span>часов</span></p>
            <p class="project__item-text">потребуется для полного знакомства
              с медиаконтентом нашего сайта</p>
          </article>
        </a>
      </li>
      <li class="project__item">
        <a href="#">
          <article class="project__article">
            <p class="project__number">24</p>
            <p class="project__item-text">стикера
              в Телеграм</p>
          </article>
        </a>
      </li>
      <li class="project__item">
        <a href="#">
          <article class="project__article">
            <p class="project__number">57</p>
            <p class="project__item-text"> картин
              и скульптур
              оцифровано</p>
          </article>
        </a>
      </li>
    </ul>
    <div class="project__middle-text">
      <p>и все это за 8 дней сделала</p>
    </div>
    <ul class="project__list  project__list--bottom">
      <li class="project__item">
        <article class="project__article  project__article--no-description">
          <p class="project__number">1</p>
          <p class="project__item-text">Команда</p>
        </article>
      </li>
      <li class="project__item">
        <article class="project__article  project__article--no-description">
          <p class="project__number">50</p>
          <p class="project__item-text">человек</p>
        </article>
      </li>
    </ul>
    <div class="project__middle-text">
      <p>которые не были знакомы до старта проекта</p>
    </div>

    <p class="project__blind-version-text">И всё это сделала 1 команда из 50 человек, которые не были знакомы до старта
      проекта </p>

    <a href="#learn-more" class="project__link  popup-inline">Узнать еще</a>
  </div>
</section>
