<section class="tab-section">
  <h2>Пример табов</h2>
  <div class="tab-section__wrapper">
    <ul class="tab-section__control-list" aria-controls="tab-example" role="tablist">
      <li class="tab-section__control-item">
        <button class="tab-section__control-btn" role="tab" aria-controls="tab-1" aria-selected="true" type="button">Tab
          1</button>
      </li>
      <li class="tab-section__control-item">
        <button class="tab-section__control-btn" role="tab" aria-controls="tab-2" aria-selected="false"
          type="button">Tab
          2</button>
      </li>
      <li class="tab-section__control-item">
        <button class="tab-section__control-btn" role="tab" aria-controls="tab-3" aria-selected="false"
          type="button">Tab
          3</button>
      </li>
    </ul>
    <ul class="tab-section__content-list">
      <li class="tab-section__content-item" data-id="tab-1" role="tabpanel" aria-expanded="true">
        <p>
          Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
          "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Aenean ac pulvinar risus. Mauris finibus magna non diam laoreet, eget tempor ligula placerat.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec interdum, lacus
          id
          ultrices vehicula,
          libero enim viverra urna, a pellentesque libero enim a sem. Cras sodales congue luctus. Nam quis porttitor
          diam,
          quis pretium odio. Curabitur tristique leo ac nibh vulputate mattis. Donec bibendum risus molestie, posuere
          dui
          at, feugiat dui. Sed
          vitae efficitur neque.
        </p>
      </li>
      <li class="tab-section__content-item" data-id="tab-2" role="tabpanel" aria-expanded="false">
        <p>
          Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
          "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Aenean ac pulvinar risus. Mauris finibus magna non diam laoreet, eget tempor ligula placerat.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec interdum, lacus
          id
          ultrices vehicula,
          libero enim viverra urna, a pellentesque libero enim a sem. Cras sodales congue luctus. Nam quis porttitor
          diam,
          quis pretium odio. Curabitur tristique leo ac nibh vulputate mattis. Donec bibendum risus molestie, posuere
          dui
          at, feugiat dui. Sed
          vitae efficitur neque.
          Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
          "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Aenean ac pulvinar risus. Mauris finibus magna non diam laoreet, eget tempor ligula placerat.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec interdum, lacus
          id
          ultrices vehicula,
          libero enim viverra urna, a pellentesque libero enim a sem. Cras sodales congue luctus. Nam quis porttitor
          diam,
          quis pretium odio. Curabitur tristique leo ac nibh vulputate mattis. Donec bibendum risus molestie, posuere
          dui
          at, feugiat dui. Sed
          vitae efficitur neque.
        </p>
      </li>
      <li class="tab-section__content-item" data-id="tab-3" role="tabpanel" aria-expanded="false">
        <p>
          Lorem Ipsum "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."
          "There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
          Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Aenean ac pulvinar risus. Mauris finibus magna non diam laoreet, eget tempor ligula placerat.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec interdum, lacus
          id
          ultrices vehicula,
          libero enim viverra urna, a pellentesque libero enim a sem. Cras sodales congue luctus. Nam quis porttitor
          diam,
          quis pretium odio. Curabitur tristique leo ac nibh vulputate mattis. Donec bibendum risus molestie, posuere
          dui
          at, feugiat dui. Sed
          vitae efficitur neque.
        </p>
      </li>
    </ul>
  </div>
</section>
