<section class="team">
  <div class="team__wrapper">
    <h2 class="team__title">Это сделали мы</h2>
    <p class="team__subtitle">Выбери свою команду</p>
    <ul class="team__list">
      <li class="team__item">
        <section class="team__item-photo  team__item-photo--color-1">
          <picture>
            <source srcset="/images/team-thumb.webp" type="image/webp">
            <source srcset="/images/team-thumb.jpg" type="image/jpeg">
            <img src="/images/team-thumb.jpg" alt="Alt Text!">
          </picture>
          <p class="team__item-name">
            &lt; РУКОВОДИТЕЛЬ /&gt;
          </p>
        </section>
        <section class="team__item-description  team__item-description--color-1">
          <h3>
            &lt; ВЕБ-ГРУППА /&gt;
          </h3>
          <ul>
            <li>Вы становитесь частью причудливого бионического супер-организма.</li>
            <li>Сидите в комфортабельном павильоне с кондиционером.</li>
            <li>Вы – самые незагорелые
              из заезда. </li>
            <li>Придумаете тысячу
              (может, миллион?) идей
              в поисках одной лучшей.</li>
            <li>Уязвимость – работаете
              только «от розетки». </li>
          </ul>
          <button class="btn  popup-trigger" data-popup-trigger="boss">кто здесь?</button>
        </section>
        <section data-popup-modal="boss" class="popup-modal ">
          <article class="team__popup">
            <button class=" popup-modal__close" type="button">
              <svg class="main-nav__icon" aria-hidden="true" width="42" height="36">
                <use class="main-nav__icon-cross" href="images/sprite_auto.svg#cross"></use>
              </svg>
              <span class="visually-hidden">Закрыть</span>
            </button>

            <h3 class="team__popup-title">РУКОВОДИТЕЛЬ</h3>
            <div class="team__popup-photo">
              <picture>
                <source srcset="/images/team-thumb.webp" type="image/webp">
                <source srcset="/images/team-thumb.jpg" type="image/jpeg">
                <img src="/images/team-thumb.jpg" alt="Фотография">
              </picture>
            </div>
            <div class="team__popup-text">
              <h4>Владимир Определенов</h4>

              <p>Заместитель директора ГМИИ им. А.С. Пушкина по цифровому развитию</p>

              <p>Заведующий кафедрой информационных технологий в сфере культуры НИУ ВШЭ</p>

              <p>Член Президиума ИКОМ России
                и председатель Совета по цифровому развитию музеев при ИКОМ России</p>

              <p>Член управляющего Совета ведущего клуба ИТ-директоров и директоров по цифровой трансформации России
                4CIO</p>
            </div>
          </article>
        </section>
      </li>
      <li class="team__item">
        <section class="team__item-photo  team__item-photo--color-2">
          <picture>
            <source srcset="/images/team-thumb-2.webp" type="image/webp">
            <source srcset="/images/team-thumb.jpg" type="image/jpeg">
            <img src="/images/team-thumb.jpg" alt="Alt Text!">
          </picture>
          <p class="team__item-name">
            &lt; ФОТО-<br>И ВИДЕОСЪЕМКА /&gt;
          </p>
        </section>
        <section class="team__item-description  team__item-description--color-2">
          <h3>
            &lt; ВЕБ-ГРУППА /&gt;
          </h3>
          <ul>
            <li>Вы становитесь частью причудливого бионического супер-организма.</li>
            <li>Сидите в комфортабельном павильоне с кондиционером.</li>
            <li>Вы – самые незагорелые
              из заезда. </li>
            <li>Придумаете тысячу
              (может, миллион?) идей
              в поисках одной лучшей.</li>
            <li>Уязвимость – работаете
              только «от розетки». </li>
          </ul>
          <button class="btn  popup-trigger" data-popup-trigger="team-1">кто здесь?</button>
        </section>
        <section data-popup-modal="team-1" class="popup-modal ">
          <article class="team__popup">
            <button class=" popup-modal__close" type="button">
              <svg class="main-nav__icon" aria-hidden="true" width="42" height="36">
                <use class="main-nav__icon-cross" href="images/sprite_auto.svg#cross"></use>
              </svg>
              <span class="visually-hidden">Закрыть</span>
            </button>

            <h3 class="team__popup-title">ВЕБ-ГРУППА</h3>
            <div class="team__popup-photo">
              <div class="team__popup-slider">
                <!-- Slider main container -->
                <div class="swiper-container">
                  <!-- Additional required wrapper -->
                  <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide"><img src="/images/team-thumb.jpg" alt="Alt Text!"></div>
                    <div class="swiper-slide"><img src="/images/team-thumb.jpg" alt="Alt Text!"></div>
                    <div class="swiper-slide"><img src="/images/team-thumb.jpg" alt="Alt Text!"></div>
                  </div>
                  <!-- If we need pagination -->
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
            <div class="team__popup-text">
              <p><strong>Наталия Мозжухина</strong> - специалист по созданию виртуальных туров, администратор
                сайтов ГМИИ им. А.С. Пушкина.</p>
              <ul>
                <li>Бабина Анна</li>
                <li>Бочаров Сергей </li>
                <li>Елфимова Яна</li>
                <li>Кудряшова Елена </li>
                <li>Левочкин Павел</li>
                <li>Новикова Екатерина</li>
                <li>Палий Анна</li>
                <li>Проскурин Алексей</li>
                <li>Степанов Семен</li>
                <li>Сумеди Анастасия</li>
                <li>Трофимова Татьяна</li>
                <li>Ямалиева Алсу</li>

              </ul>
            </div>
          </article>
        </section>
      </li>
      <li class="team__item">
        <section class="team__item-photo  team__item-photo--color-3">
          <picture>
            <source srcset="/images/team-thumb.webp" type="image/webp">
            <source srcset="/images/team-thumb.jpg" type="image/jpeg">
            <img src="/images/team-thumb.jpg" alt="Alt Text!">
          </picture>
          <p class="team__item-name">
            &lt; СТОРИТЕЛЛИНГ /&gt;
          </p>
        </section>
        <section class="team__item-description  team__item-description--color-3">
          <h3>
            &lt; ВЕБ-ГРУППА /&gt;
          </h3>
          <ul>
            <li>Вы становитесь частью причудливого бионического супер-организма.</li>
            <li>Сидите в комфортабельном павильоне с кондиционером.</li>
            <li>Вы – самые незагорелые
              из заезда. </li>
            <li>Придумаете тысячу
              (может, миллион?) идей
              в поисках одной лучшей.</li>
            <li>Уязвимость – работаете
              только «от розетки». </li>
          </ul>
          <button class="btn  popup-trigger" data-popup-trigger="team-2">кто здесь?</button>
        </section>
      </li>
      <li class="team__item">
        <section class="team__item-photo  team__item-photo--color-4">
          <picture>
            <source srcset="/images/team-thumb.webp" type="image/webp">
            <source srcset="/images/team-thumb.jpg" type="image/jpeg">
            <img src="/images/team-thumb.jpg" alt="Alt Text!">
          </picture>
          <p class="team__item-name">
            &lt; ВЕБ-РАЗРАБОТКА /&gt;
          </p>
        </section>
        <section class="team__item-description  team__item-description--color-4">
          <h3>
            &lt; ВЕБ-ГРУППА /&gt;
          </h3>
          <ul>
            <li>Вы становитесь частью причудливого бионического супер-организма.</li>
            <li>Сидите в комфортабельном павильоне с кондиционером.</li>
            <li>Вы – самые незагорелые
              из заезда. </li>
            <li>Придумаете тысячу
              (может, миллион?) идей
              в поисках одной лучшей.</li>
            <li>Уязвимость – работаете
              только «от розетки». </li>
          </ul>
          <button class="btn  popup-trigger" data-popup-trigger="team-3">кто здесь?</button>
        </section>
      </li>
      <li class="team__item">
        <section class="team__item-photo  team__item-photo--color-5">
          <picture>
            <source srcset="/images/team-thumb.webp" type="image/webp">
            <source srcset="/images/team-thumb.jpg" type="image/jpeg">
            <img src="/images/team-thumb.jpg" alt="Alt Text!">
          </picture>
          <p class="team__item-name">
            &lt; 3D-МОДЕЛИРОВАНИЕ /&gt;
          </p>
        </section>
        <section class="team__item-description  team__item-description--color-4">
          <h3>
            &lt; ВЕБ-ГРУППА /&gt;
          </h3>
          <ul>
            <li>Вы становитесь частью причудливого бионического супер-организма.</li>
            <li>Сидите в комфортабельном павильоне с кондиционером.</li>
            <li>Вы – самые незагорелые
              из заезда. </li>
            <li>Придумаете тысячу
              (может, миллион?) идей
              в поисках одной лучшей.</li>
            <li>Уязвимость – работаете
              только «от розетки». </li>
          </ul>
          <button class="btn  popup-trigger" data-popup-trigger="team-4">кто здесь?</button>
        </section>
      </li>
      <li class="team__item">
        <section class="team__item-photo  team__item-photo--color-6">
          <picture>
            <source srcset="/images/team-thumb.webp" type="image/webp">
            <source srcset="/images/team-thumb.jpg" type="image/jpeg">
            <img src="/images/team-thumb.jpg" alt="Alt Text!">
          </picture>
          <p class="team__item-name">
            &lt; ТЕХПОДДЕРЖКА /&gt;
          </p>
        </section>
        <section class="team__item-description  team__item-description--color-6">
          <h3>
            &lt; ВЕБ-ГРУППА /&gt;
          </h3>
          <ul>
            <li>Вы становитесь частью причудливого бионического супер-организма.</li>
            <li>Сидите в комфортабельном павильоне с кондиционером.</li>
            <li>Вы – самые незагорелые
              из заезда. </li>
            <li>Придумаете тысячу
              (может, миллион?) идей
              в поисках одной лучшей.</li>
            <li>Уязвимость – работаете
              только «от розетки». </li>
          </ul>
          <button class="btn  popup-trigger" data-popup-trigger="team-5">кто здесь?</button>
        </section>
      </li>
    </ul>
  </div>
</section>
