.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  color: #505050;
  font-family: $b-font;
  &--overflow-hidden {
    overflow: hidden !important;

    .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
